.event-form-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4; 
    padding: 20px;
  }
  
  .event-form-container {
    background-color: #fff; 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
  }
  
  .event-form-container form label {
    display: block;
    margin-bottom: 10px;
    color: #333; 
  }
  
  .event-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    
  }
  
  .event-form-container button {
    background-color: #00796b; 
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  .event-form-container button:hover {
    background-color: #004d40; 
  }
  
  .event-delete-container {
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 10px; 
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .unordered-event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .unordered-event-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .unordered-event-list li span {
    color: #333; 
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #ff5252; 
    color: #fff; 
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #d32f2f; 
  }
  